.featured-section {
    margin: 30px 20px;
  }
  
  .section-header-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
  
  .title-and-links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .title-and-links h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
  }
  
  .links-inline {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .links-inline a {
    font-size: 0.9rem;
    color: gray;
    text-decoration: none;
  }
  
  .links-inline a:hover {
    text-decoration: none;
    color:#3bb77e;
  }
  
  .right-controls {
    display: flex;
    gap: 10px;
  }
  
  .arrow-btn {
    font-size: 1.4rem;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
  }
  
  .arrow-btn:hover {
    color: #2c9462;
  }
  
  .card-slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 10px 0;
    scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;
  }
  