.four-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 15px;
    width:95%;
    margin:0 auto;
    /* margin-left: 20px; */
    
  }
  